doctype html
html(lang="en")
  head
    title= "Owlypixel"
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js")
    //- script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin3.min.js")
  body
    .wrapper
      include src/round1.pug
      include src/mute_btn.pug