$bg_color: radial-gradient(circle, #8c37e0 0%, #402060 100%);

body {
    background-image: $bg_color;
    color: #fff;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
	height: 100vh;
	display: flex;
    place-content: center;
    align-items: center;
    position: relative;
}
#the_ring {
    width: 98vw;
    border: 5px solid white;
}
#mute_btn {
    position: fixed;
    cursor: pointer;
    width: 50px;
    right: 1rem;
    bottom: 1rem;
}